.discount{
  width: 30%;
  height: 50px;
  position:absolute;
  top:0;
  left: 70%;
  background-color: #fc6a03;
  border-bottom-left-radius: 50%;
}

.discount-p{
  font-size:large;
  font-weight: bolder;
  color: white;
  padding-top: 0.8pc;
}
  @media screen and (max-width: 600px) {
  .discount{
  width: 50%;
  height: 60px;
  position:absolute;
  top:0;
  left: 70%;
  }
  .discount-p{
    padding-top: 1.2pc;
  }
}