.marginclass{
    margin-top: 80px;
}
.kurseni{
    color: #ff6600;
}
.mpform{
    width:100%;
    text-align: center;
    margin-top: 30px;
}
.mp{
    width: 150px;
    height: 60px;
    background: #ff6600;
    color:white;
    font-weight: bold;
    border: none;
    border-radius: 25%;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    .marginclass{
        margin-top: 0;
    } 
}